@model BugSmear.Models.ProjectUsersViewModel

@{
    ViewBag.Title = "Asssign Users";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssignRemoveUsers</title>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="cl-wrapper">
        <div class="block-flat">
            <div class="header">
                <h3>Boxed Multiselect</h3>
            </div>
            <div class="content">
                <table class="dashed">
                    <tr>
                        <td>
                            @Html.ListBox("SelectedUsers", Model.Users, htmlAttributes: new { @id = "optgroup", multiple = "multiple", style = "width: 800px;"})
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Save" class="btn btn-default" />
                <a href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
                @Html.HiddenFor(model => model.projectId)
            </div>
        </div>
    </div>

}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });
        });
    </script>
}