@using BugSmear.Models
@{
    ViewBag.Title = "Home Page";
}


<div>
<h2>BugSmear</h2>
The term BUG was coined by Captain Grace Hopper.  SMEAR is an acronym for a Simple Method Ensures Appropriate Resolutions.    
</div>